/* This is the global css file */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply m-0 box-border list-none scroll-smooth p-0;
    }

    body {
        @apply min-h-screen font-commissioner text-primary-1;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .scroll-padding {
        scroll-margin-top: 8rem;
    }
}
